@model IEnumerable<POSmvc.Models.SalesDetail>

@{
    ViewData["Title"] = "SalesDetails";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransctionID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.ProductID)*@

                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
                

                @Html.DisplayFor(modelItem => item.Products.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchased)
            </td>
            <td>@*  *@
                @Html.DisplayFor(modelItem => item.TransctionID)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
